<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>
  {% seo title=false %}
  {% feed_meta %}
  <meta property="og:image" content="{{ site.favicon | relative_url }}" />
  <link rel="icon" type="image/png" href="{{ site.favicon | relative_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon | relative_url }}" />
  <link rel="preload" href="{{ '/assets/fonts/newrocker-regular.woff2' | relative_url }}" as="font" type="font/woff2" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/tags.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/edit.css" | relative_url }}" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LK8YCC4QPN"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-LK8YCC4QPN');
  </script>
</head>
