<style>
  #bootstrap-isolated-container {
    all: initial;
    display: block;
  }

  #bootstrap-isolated-container .modal {
    max-width: 250px;
  }
  
  #bootstrap-isolated-container .btn,
  #bootstrap-isolated-container .modal,
  #bootstrap-isolated-container label,
  #bootstrap-isolated-container input,
  #bootstrap-isolated-container hr,
  #bootstrap-isolated-container p,
  #bootstrap-isolated-container a,
  #bootstrap-isolated-container div {
    font-family: inherit;
    box-sizing: border-box;
  }
</style>
<div id="bootstrap-isolated-container">
  <style scoped>
    @import url("https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css");
  </style>
  
  <a href="#settings-modal" role="button" class="btn" data-toggle="modal">Ayarlar</a>
  <div id="settings-modal" class="modal hide fade">
    <div class="modal-body"> 
      <label>Tema Seçimi: </label>
      <a href="#acik" role="button" class="btn">Açık</a>
      <a href="#koyu" role="button" class="btn btn-inverse">Koyu</a>
      <hr>
      <label for="linkColor">Bağlantı Paleti: <span id="selectedColor">#53a245</span></label>
      <input type="color" id="linkColor" value="#53a245">
      <p class="link-color-display">
        <a style="color:#53a245" href="#" class="link-color">Bu bir örnek bağlantıdır</a>
      </p>
      <hr>
      <label for="fontSize">Font Ölçeği: <span id="fontSizeValue">14px</span></label>
      <input type="range" id="fontSize" min="11" max="16" value="14">
      <p class="font-size-display" id="fontSizeDisplay">Değişiklikler böyle gözükecek.</p>
    </div>
    
    <div style="text-align:center" class="modal-footer">
      <a href="#" class="btn btn-danger" data-dismiss="modal">Vazgeç</a>
      <a href="#" class="btn btn-primary" data-dismiss="modal">Kaydet</a>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script>
  (function() {
    var fontSizeSlider = document.querySelector("#fontSize");
    var fontSizeValue = document.querySelector("#fontSizeValue");
    var fontSizeDisplay = document.querySelector("#fontSizeDisplay");
    var linkColorPicker = document.querySelector("#linkColor");
    var linkColorDisplay = document.querySelector(".link-color");
    var selectedColorText = document.querySelector("#selectedColor");
    
    if (fontSizeSlider) {
      fontSizeSlider.addEventListener("input", function() {
        var size = fontSizeSlider.value;
        if (fontSizeValue) fontSizeValue.textContent = size + "px";
        if (fontSizeDisplay) fontSizeDisplay.style.fontSize = size + "px";
      });
    }
    
    if (linkColorPicker) {
      linkColorPicker.addEventListener("input", function() {
        var selectedColor = linkColorPicker.value;
        if (linkColorDisplay) linkColorDisplay.style.color = selectedColor;
        if (selectedColorText) selectedColorText.textContent = selectedColor;
      });
    }
    jQuery(document).ready(function($) {
      $("#bootstrap-isolated-container .btn[data-toggle='modal']").on("click", function() {
        var targetModal = $($(this).attr("href"));
        targetModal.modal('show');
      });
    });
  })();
</script>
