<a id="ayarmenu" href="#ayarlar" role="button" class="btn" data-toggle="modal">ayarlar</a>
<div id="ayarlar" class="modal hide fade">
<div class="modal-body"> 
<span>geçerli tema:</span>
<a id="mode" class="btn" role="button" href="javascript:void(0);"></a>
<hr>
<span>bağlantı paleti:</span>
<input type="color" id="linkColor">
<span id="selectedColor"></span>
<p class="link-color-display">
<a href="javascript:void(0);" class="link-color">değişiklikler böyle görünecek</a>
</p>
<hr>
<label for="fontSize">yazı tipi boyutu: <span id="fontSizeValue"></span></label>
<input type="range" id="fontSize" min="13" max="16">
<p class="font-size-display" id="fontSizeDisplay">değişiklikler böyle görünecek</p>
</div>  
<div class="modal-footer">
<a href="javascript:void(0);" class="btn btn-danger" data-dismiss="modal">vazgeç</a>
<a href="javascript:void(0);" class="btn btn-primary" data-dismiss="modal">kaydet</a>
</div>
</div>
