<style>
.modal {
max-width:275px;
max-height:500px;
position:fixed;
left:60%;
}

.modal * {overflow:hidden}

  @media (max-width: 900px) {
  .modal {
  max-width:275px;
  max-height:500px;
  position:fixed;
  left:70%;
  }
}

  @media (max-width: 529px) {
  .modal {
  max-width:275px;
  max-height:500px;
  position:fixed;
  left:80%;
  }
}

  @media (max-width: 429px) {
  .modal {
  max-width:275px;
  max-height:500px;
  position:fixed;
  left:85%;
  }
}

  @media (max-width: 379px) {
  .modal {
  max-width:275px;
  max-height:500px;
  position:fixed;
  left:90%;
  }
}

  @media (max-width: 349px) {
  .modal {
  max-width:275px;
  max-height:500px;
  position:fixed;
  left:95%;
  }
}
  
  @media (max-width: 305px) {
  .modal {
  max-width:275px;
  max-height:500px;
  position:fixed;
  left:98%;
  }
}  
</style>
<a href="#ayarlar" role="button" class="btn" data-toggle="modal">Ayarlar</a>
<div id="ayarlar" class="modal hide fade">
<div class="modal-body"> 
<label>Tema Seçimi:</label>
<a href="#acik" role="button" class="btn" id="mode">Açık</a>
<a href="#koyu" role="button" class="btn btn-inverse" id="mode2">Koyu</a>
<hr>
<label for="linkColor">Bağlantı Paleti:</label>
<input type="color" id="linkColor" value="#53a245">
<span id="selectedColor">#53a245</span>
<p class="link-color-display">
<a style="color:#53a245" href="#" class="link-color">Bu bir örnek bağlantıdır</a>
</p>
<hr>
<label for="fontSize">Font Ölçeği: <span id="fontSizeValue">14px</span></label>
<input type="range" id="fontSize" min="11" max="16" value="14">
<p class="font-size-display" id="fontSizeDisplay">Değişiklikler böyle gözükecek.</p>
</div>  
<div style="text-align:center" class="modal-footer">
<a href="#" class="btn btn-danger" data-dismiss="modal">Vazgeç</a>
<a href="#" class="btn btn-primary" data-dismiss="modal">Kaydet</a>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="/assets/js/script.js">

