@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic,600&subset=latin,latin-ext';

@mixin dark-appearance {

  input[type="color"] {
  color: #555555;
  background:#333;
  border:1px solid #444;
}

  hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #444444;
  }

  .modal {
  position: fixed;
  top: 10%;
  left: 60%;
  z-index: 1050;
  max-width:275px;
  margin-left: -280px;
  background-color: #2c2c2c;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.5);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

  @media (max-width: 900px) {
  .modal {
  left:70%;
  }
}

  @media (max-width: 600px) {
  .modal {
  left:75%;
  }
}

  @media (max-width: 530px) {
  .modal {
  left:79%;
  }
}

  @media (max-width: 450px) {
  .modal {
  left:84%;
  }
}

  @media (max-width: 380px) {
  .modal {
  left:88%;
  }
}

  @media (max-width: 350px) {
  .modal {
  left:93%;
  }
}
  
  @media (max-width: 310px) {
  .modal {
  left:97%;
  }
}  

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #222222;
  border-top: 1px solid #444;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #333333;
     -moz-box-shadow: inset 0 1px 0 #333333;
          box-shadow: inset 0 1px 0 #333333;
}

  .cookie-banner {
      background: #111;
      color: #ccc;
      font: 12px monospace;
      padding: 15px;
      display: none;
      border:1px solid #333;
    }

      .cookie-btn {
      background: #111;
      border: 1px solid #333;
      color: #ccc;
    }
    .cookie-btn:hover {
      color: #53a245;
    }

    .cookie-close {
      background: #111;
      border: 1px solid #333;
      color: #ccc;
    }
    .cookie-close:hover {
      color: #53a245;
    }
  
.language-plaintext {
    border-radius: 0px;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    font-family: Source Sans Pro, sans-serif;
    border: 0px;
    padding: 0px 0px;
  }

  code {
    border: 1px solid #333;
  }

  code::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
  }
 }

body[data-theme="dark"] {
  @include dark-appearance;
  background: #111;
  color: #ccc;
}

body[data-theme="light"] {
}

html { height: 100%; }

body {
  background: #eee; 
  color: #333;
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  top: 0px !important;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  padding: 0.1em 0.1em;
  border: 1px solid #d1d9e0;
  border-radius: 8px;
}

code::-webkit-scrollbar-thumb {
  background-color: #d1d9e0;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;  
}

code::-webkit-scrollbar {
  width: 16px;
}

div.highlighter-rouge pre code {
  display: block;
  overflow-x: auto;
  white-space: pre; 
  padding: 1rem;
  font-size: 15px;
  word-spacing: 1px;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

  a {
    color: #53a245;
    text-decoration: none;
}
  a:hover {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-decoration: underline;
}

.modal {
  position: fixed;
  top: 10%;
  left: 60%;
  z-index: 1050;
  max-width:275px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

  @media (max-width: 900px) {
  .modal {
  left:70%;
  }
}

  @media (max-width: 600px) {
  .modal {
  left:75%;
  }
}

  @media (max-width: 529px) {
  .modal {
  left:79%;
  }
}

  @media (max-width: 429px) {
  .modal {
  left:84%;
  }
}

  @media (max-width: 379px) {
  .modal {
  left:88%;
  }
}

  @media (max-width: 349px) {
  .modal {
  left:93%;
  }
}
  
  @media (max-width: 305px) {
  .modal {
  left:97%;
  }
}  

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.language-plaintext {
border-radius: 0px;
background-color: #efefef;
border-color: #efefef;
font-family: Source Sans Pro, sans-serif;
border: 0px;
padding: 0px 0px;
}

.dot {
  color: #53a245;
}

.lang {
    position: relative;
    z-index: 10;
    width: 38px;
    height: 24px;
    text-align: center;
    background: rgba(157, 157, 157, 0.3);
    perspective: 700px
}

.lang__link {
    cursor: pointer;
    transition: .3s all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 2px;
    padding: 4px;
    width: 100%;
    height: 100%;
}

.lang__img {
    width: 24px;
    height: 16px;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
}

.lang__link_sub {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 0 2px;
}

.lang__link_sub:hover {
    filter: drop-shadow(0 0 3px rgb(136, 136, 136)) brightness(130%);
}

.lang__name {
    color: #737b84;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    margin-top: 2px;
}

.lang__list {
    background: rgba(157, 157, 157, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    min-width: 140px;
    opacity: 0;
    visibility: hidden;
    transition: .3s all;
    transform: rotateY(-90deg);
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 10;
    padding: 2px;
    transform-origin: left center;
    box-sizing: border-box;
    gap: 2px;
}

.lang:hover .lang__list {
    opacity: 1;
    visibility: visible;
    transform: rotateY(0);
}

.lang__link_select {
    align-items: flex-start;
    text-align: center;
    font-size: 0;
}

    .cookie-banner {
      position: fixed;
      bottom: 5px;
      right: 5px;
      z-index: 1039;
      width: 90%;
      max-width: 450px;
      background: #eee;
      color: #333;
      font: 12px monospace;
      padding: 15px;
      display: none;
      border:1px solid #ccc;
    }
    .cookie-body {
      text-align: left;
    }
    .cookie-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
    .cookie-btn {
      background: #eee;
      border: 1px solid #ccc;
      color: #333;
      font-family: monospace;
      padding: 8px 12px;
      cursor: pointer;
    }
    .cookie-btn:hover {
      color: #53a245;
    }
    .cookie-close {
      position: absolute;
      top: 5px;
      right: 10px;
      background: #eee;
      border: 1px solid #ccc;
      color: #333;
      font-size: 16px;
      cursor: pointer;
    }
    .cookie-close:hover {
      color: #53a245;
    }
    @media (max-width: 640px) {
      .cookie-banner {
        width: 50%;
      }
      .cookie-buttons {
        flex-direction: column;
        gap: 5px;
      }
    }

  #ayarmenu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}
