@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic,600&subset=latin,latin-ext';

@mixin dark-appearance {
  background: #111;
  color: #ccc;
    
  .select-wrapper select {
    border: 1px solid #333;
    background-color: #111;
    color: #ccc;
  }

.language-plaintext {
    border-radius: 0px;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    font-family: Source Sans Pro, sans-serif;
    border: 0px;
    padding: 0px 0px;
  }

  code {
    border: 1px solid #333;
  }

  code::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
  }

  .goog-te-gadget a.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  color: #bbb;
}
 }

body[data-theme="dark"] {
  @include dark-appearance;
}

body[data-theme="light"] {
}

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] {
    @include dark-appearance;

    }
  }

@media (prefers-color-scheme: light) {
  body[data-theme="auto"] {
    }
  }

html, body { background: white; }

html { height: 100%; }

body {
  color: #333;
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  top: 0px !important;
}

body > .skiptranslate {
    display: none;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  padding: 0.1em 0.1em;
  border: 1px solid #d1d9e0;
  border-radius: 8px;
}

code::-webkit-scrollbar-thumb {
  background-color: #d1d9e0;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;  
}

code::-webkit-scrollbar {
  width: 16px;
}

div.highlighter-rouge pre code {
  display: block;
  overflow-x: auto;
  white-space: pre; 
  padding: 1rem;
  font-size: 15px;
  word-spacing: 1px;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

  a {
    color: #53a245;
    text-decoration: none;
}
  a:hover {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-decoration: underline;
}
  a[href^="http"]::after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.25em;
    background-size: 100%;
    background-image: url("https://akakadir.github.io/external.svg");
}

  nav {
    text-align: center;
}

  #translate img {
    display: none;
}

  #goog-gt-tt {
    display: none !important;
}

.goog-te-gadget a.VIpgJd-ZVi9od-l4eHX-hSRGPd::before {
    content: "Google ";
}

.goog-te-gadget a.VIpgJd-ZVi9od-l4eHX-hSRGPd[href^="http"]::after {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Google_Translate_logo.svg/1024px-Google_Translate_logo.svg.png");
}

  font {
    background-color: transparent !important;
    box-shadow: none !important;
}

  .goog-tooltip {
    display: none !important;
}
  .goog-tooltip:hover {
    display: none !important;
}
  .goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}

  .select-wrapper {
    position: relative;
    width: 100%;
    max-width: 200px;
}

  .select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2px 6px;
    background-color: #fff;
    font-size: 13px;
    line-height: 1.5;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #333;
}

  .select-wrapper select:focus {
    border-color: #007aff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0,122,255,0.3);
}

#mode {
  background: transparent;
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  z-index: 100;
  border:0;
}

#mode-text {
color: #53a245;
}

.language-plaintext {
border-radius: 0px;
background-color: #efefef;
border-color: #efefef;
font-family: Source Sans Pro, sans-serif;
border: 0px;
padding: 0px 0px;
}
