@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

  h1, h2, h3, h4, h5, h6 { font-weight: bold; }

  h2, h3, h4, h5, h6 { margin-top: 3rem; }

  h1 { font-size: 2rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.25rem; }
  h5 { font-size: 1.1rem; }
  h6 { font-size: 1rem; }

  body {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  top: 0px !important;
  }

  .post-meta { text-align: right; }

  p { margin: 1rem 0; }

 .w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
  }

  table { width: 100%; }

  table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
  }

  code::-webkit-scrollbar {
  display:none;
  }

  code::-webkit-scrollbar-thumb {
  display:none;
  }

  div.highlighter-rouge pre code {
  display: block;
  overflow-x: auto;
  white-space: pre; 
  padding: 1rem;
  font-size: 15px;
  word-spacing: 1px;
  }

  .copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  }

  .arwbllt li {
  list-style: none;
  position: relative;
  padding-left: 20px;
  }

  .arwbllt li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  background-image: url('/assets/img/gif/inherit.gif');
  background-size: contain;
  background-repeat: no-repeat;
  }

  .arrwline {
  width:14px;
  height:14px;
  margin-right:5px;
  }

  .language-plaintext {
  background:#f8f9fa;
  }

  @media (prefers-color-scheme: dark) {
  .arrwline {
  filter: invert(1);
  }
  .arwbllt li::before {
  filter: invert(1);
  }
  .language-plaintext {
  background:#131618;
  }
   }
