small div .badge{display:inline-flex;align-items:center;}
small div .badge::after{content:"";display:inline-block;width:1em;height:1em;margin-left:1px;background-size:contain;background-repeat:no-repeat;background-position:center;}

.siyah-şapka{color:#888888;}
.beyaz-şapka{color:#52525b;}
.crack-warez{color:#2563eb;}
.ios{color:#0e7490;}
.html{color:#e34c26;}
.javascript{color:#a16207;}
.psiko-saldırı{color:#7e22ce;}
.windows{color:#0284c7;}
.frontend{color:#047857;}
.backend{color:#7c3aed;}
.makale{color:#475569;}
.programlar{color:#1d4ed8;}
.araçlar{color:#c2410c;}
.anlatım{color:#64748b;}
.android{color:#4d7c0f;}
.mtk{color:#b45309;}

.siyah-şapka::after{background-image:url('//api.iconify.design/mdi/incognito.svg?color=%23888888');}
.beyaz-şapka::after{background-image: url('//api.iconify.design/mdi/incognito.svg?color=%2352525b');}
.crack-warez::after{background-image: url('//api.iconify.design/mdi/skull.svg?color=%232563eb');}
.psiko-saldırı::after{background-image: url('//api.iconify.design/mdi/brain.svg?color=%237e22ce');}
.ios::after{background-image: url('//api.iconify.design/mdi/apple.svg?color=%230e7490');}
.windows::after{background-image: url('//api.iconify.design/mdi/microsoft-windows.svg?color=%230284c7');}
.html::after{background-image: url('//api.iconify.design/mdi/language-html5.svg?color=%23e34c26');}
.javascript::after{background-image: url('//api.iconify.design/mdi/language-javascript.svg?color=%23a16207');}
.frontend::after{background-image: url('//api.iconify.design/mdi/layers.svg?color=%23047857');}
.backend::after{background-image: url('//api.iconify.design/mdi/database-cog.svg?color=%237c3aed');}
.makale::after{background-image: url('//api.iconify.design/mdi/text-box-edit.svg?color=%23475569');}
.programlar::after{background-image: url('//api.iconify.design/mdi/package.svg?color=%231d4ed8');}
.araçlar::after{background-image: url('//api.iconify.design/mdi/tools.svg?color=%23c2410c');}
.anlatım::after{background-image: url('//api.iconify.design/mdi/comment-quote.svg?color=%2364748b');}
.android:after{background-image: url('//api.iconify.design/mdi/android.svg?color=%234d7c0f');}
.mtk::after{background-image: url('//api.iconify.design/simple-icons/mediatek.svg?color=%23b45309');}

@media (prefers-color-scheme: dark) {
  .siyah-şapka{color:#aaaaaa;}
  .beyaz-şapka{color:#a1a1aa;}
  .crack-warez{color:#60a5fa;}
  .ios{color:#22d3ee;}
  .html{color:#f4805c;}
  .javascript{color:#fde047;}
  .psiko-saldırı{color:#c084fc;}
  .windows{color:#38bdf8;}
  .frontend{color:#34d399;}
  .backend{color:#a78bfa;}
  .makale{color:#94a3b8;}
  .programlar{color:#3b82f6;}
  .araçlar{color:#f97316;}
  .anlatım{color:#cbd5e1;}
  .android{color:#a3e635;}
  .mtk{color:#fb923c;}

  .siyah-şapka::after{background-image:url('//api.iconify.design/mdi/incognito.svg?color=%23aaaaaa');}
  .beyaz-şapka::after{background-image: url('//api.iconify.design/mdi/incognito.svg?color=%23a1a1aa');}
  .crack-warez::after{background-image: url('//api.iconify.design/mdi/skull.svg?color=%2360a5fa');}
  .psiko-saldırı::after{background-image: url('//api.iconify.design/mdi/brain.svg?color=%23c084fc');}
  .ios::after{background-image: url('//api.iconify.design/mdi/apple.svg?color=%2322d3ee');}
  .windows::after{background-image: url('//api.iconify.design/mdi/microsoft-windows.svg?color=%2338bdf8');}
  .html::after{background-image: url('//api.iconify.design/mdi/language-html5.svg?color=%23f4805c');}
  .javascript::after{background-image: url('//api.iconify.design/mdi/language-javascript.svg?color=%23fde047');}
  .frontend::after{background-image: url('//api.iconify.design/mdi/layers.svg?color=%2334d399');}
  .backend::after{background-image: url('//api.iconify.design/mdi/database-cog.svg?color=%23a78bfa');}
  .makale::after{background-image: url('//api.iconify.design/mdi/text-box-edit.svg?color=%2394a3b8');}
  .programlar::after{background-image: url('//api.iconify.design/mdi/package.svg?color=%233b82f6');}
  .araçlar::after{background-image: url('//api.iconify.design/mdi/tools.svg?color=%23f97316');}
  .anlatım::after{background-image: url('//api.iconify.design/mdi/comment-quote.svg?color=%23cbd5e1');}
  .android:after{background-image: url('//api.iconify.design/mdi/android.svg?color=%23a3e635');}
  .mtk::after{background-image: url('//api.iconify.design/simple-icons/mediatek.svg?color=%23fb923c');}
}