---
layout: default
---
<header>
  <h1><span class="dot">.</span>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}
      <a href="//www.dmca.com/Protection/Status.aspx?ID=49503da6-ad95-4659-85f7-5ab5fb359a65" class="dmca-badge"> 
      <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120c.png?ID=49503da6-ad95-4659-85f7-5ab5fb359a65"/>
      </a>  
      <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
      <script type="text/javascript" src="/assets/js/spotify.js"></script>
       <center>
        <p>şu an <span id=sp-wg></span> dinliyorum.</p>
          </center>
