---
layout: default
---

<header>
  <nav class="container navbar navbar-light navbar-expand-sm" style="position: relative;">
    <span class="navbar-brand">
      <a href="/">akakadir</a>
    </span>
    <ul class="navbar-nav"></ul>
    <div>
      <span class="navbar-text">
        <img src="/assets/img/base/chat.png" style="position: absolute; right: 0; top: 50%; transform: translateY(-50%); display: inline-block;" width="50" height="50">
      </span>
    </div>
  </nav>
  {%- if site.theme_config.show_description -%}
    <p>{{- site.description -}}</p>
  {%- endif -%}
</header>

{%- include menu_item.html collection=site.data.menu.entries -%}

{{- content -}}

<p align="center" id="now-playing"></p>
<p align="center" id="lyrics"></p>
<script src="/assets/js/spotify.js"></script>
