---
layout: default
---

  

  <p class="post-meta">
  <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>

<article>
  
  <h1>{{ page.title }}</h1>

  {{ content }}
</article>
<div class="lang">
<div id="ytWidget" style="display: none;"></div>
<div class="lang__link lang__link_select" data-lang-active="">
  <img class="lang__img lang__img_select" src="/assets/img/flags/tr.png" alt="Tr">
</div>
<div class="lang__list" data-lang-list="">
 <a class="lang__link lang__link_sub" data-ya-lang="tr">
  <img class="lang__img" src="/assets/img/flags/tr.png" alt="tr">
 </a>
 <a class="lang__link lang__link_sub" data-ya-lang="de">
  <img class="lang__img" src="/assets/img/flags/de.png" alt="de">
 </a>
 <a class="lang__link lang__link_sub" data-ya-lang="en">
  <img class="lang__img" src="/assets/img/flags/en.png" alt="en">
 </a>
 <a class="lang__link lang__link_sub" data-ya-lang="fr">
  <img class="lang__img" src="/assets/img/flags/fr.png" alt="fr">
 </a>
 <a class="lang__link lang__link_sub" data-ya-lang="es">
  <img class="lang__img" src="/assets/img/flags/es.png" alt="es">
 </a>
</div>
</div>
<script type="text/javascript" src="/assets/js/translate.js"></script>
  
<div id="giscus-container">
<script type="text/javascript" src="/assets/js/giscus.js"></script>
</div>
