---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}
</article>

<div class="lang lang_fixed">
   <div id="ytWidget" style="display: none;"></div>
   <div class="lang__link lang__link_select" data-lang-active="">
       <img class="lang__img lang__img_select" src="/assets/img/flags/TR.png" alt="Tr">
   </div>
   <div class="lang__list" data-lang-list="">
       <a class="lang__link lang__link_sub" data-ya-lang="tr">
           <img class="lang__img" src="/assets/img/flags/TR.png" alt="tr">
       </a>
       <a class="lang__link lang__link_sub" data-ya-lang="en">
           <img class="lang__img" src="/assets/img/flags/GB.png" alt="en">
       </a>
       <a class="lang__link lang__link_sub" data-ya-lang="ru">
           <img class="lang__img" src="/assets/img/flags/RU.png" alt="ru">
       </a>
       <a class="lang__link lang__link_sub" data-ya-lang="es">
           <img class="lang__img" src="/assets/img/flags/ES.png" alt="es">
       </a>
       <a class="lang__link lang__link_sub" data-ya-lang="jp">
           <img class="lang__img" src="/assets/img/flags/JP.png" alt="jp">
       </a>
   </div>
</div>
<script type="text/javascript" src="/assets/js/yatranslate.js"></script>
  
<div id="giscus-container">
<script type="text/javascript" src="/assets/js/giscus.js"></script>
</div>

{% assign cat = page.categories[0] %}
{% assign cat_list = site.categories[cat] %}
{% for post in cat_list %}
  {% if post.url == page.url %}
  	{% assign nOffset = forloop.index0 | minus: 1 %}
  	{% assign pOffset = forloop.index0 | plus: 1 %}
  	{% if forloop.first == false %}
      {% assign next_post = cat_list[nOffset] %}
  	{% endif %}
  	{% if forloop.last == false %}
  	  {% assign prev_post = cat_list[pOffset] %}
  	{% endif %}
  	{% break %}
  {% endif %}
{% endfor %}

<nav>
  {% if prev_post %}
  <span><a href="{{ prev_post.url }}" title="{{ prev_post.title }}">« önceki</a></span>
  {% endif %}
  |
  {% if next_post %}
  <span><a href="{{ next_post.url }}" title="{{ next_post.title }}">sonraki »</a></span>
  {% endif %}
</nav>
